[submodule "zaran"]
	path = zaran
	url = git://github.com/zlalvani/player-vs-sound.git
[submodule "kelly"]
	path = kelly
	url = https://github.com/kmichaelfox/vhtu
[submodule "shawnmodule"]
	path = shawnmodule
	url = https://github.com/shawnlawson/shawnmodule.git
[submodule "john"]
	path = john
	url = https://github.com/jbcon/Int_Grph_Snd_01
[submodule "mike"]
	path = mike
	url = https://github.com/mwdewey/ACI_1.git
[submodule "andrewfaulds"]
	path = andrewfaulds
	url = https://github.com/faulda/noisy-bouncy-fountain
