[submodule "zaran"]
	path = zaran
	url = git://github.com/zlalvani/player-vs-sound.git
[submodule "kelly"]
	path = kelly
	url = https://github.com/kmichaelfox/vhtu
[submodule "shawnmodule"]
	path = shawnmodule
	url = https://github.com/shawnlawson/shawnmodule.git
[submodule "john"]
	path = john
	url = https://github.com/jbcon/Int_Grph_Snd_01
[submodule "mike"]
	path = mike
	url = https://github.com/mwdewey/ACI_1.git
[submodule "andrewfaulds2"]
	path = andrewfaulds2
	url = https://github.com/faulda/noisy-bouncy-fountain
[submodule "rasmul2submodule"]
	path = rasmul2submodule
	url = https://github.com/rasmul2/rasmul2submodule
[submodule "lokiRasmussen"]
	path = lokiRasmussen
	url = https://github.com/rasmul2/rasmul2submodule.git
[submodule "leying"]
	path = leying
	url = https://github.com/Kirstihly/ACI_2.git
[submodule "daviddominguez"]
	path = daviddominguez
	url = https://github.com/davidrpi/audiovisualizer
