[submodule "zaran"]
	path = zaran
	url = git://github.com/zlalvani/player-vs-sound.git
[submodule "ShawnTestSubModule"]
	path = ShawnTestSubModule
	url = git://github.com/shawnlawson/ShawnTestSubModule.git
